.container {
    width: 100%;
    /* max-height: 75vh; */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px 8px;
}

.statCard {
    text-align: center;
    transition: all 0.3s ease;
}

.statCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}