.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

.header {
    margin-bottom: 24px;
}

.content {
    flex: 1;
    overflow-y: auto;
}

.responseCard {
    margin-top: 16px;
}

.response {
    white-space: pre-wrap;
    word-wrap: break-word;
}
