.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

.header {
    margin-bottom: 24px;
}

.content {
    flex: 1;
    overflow-y: auto;
}

.resultCard {
    margin-top: 16px;
}

.result {
    white-space: pre-wrap;
    word-wrap: break-word;
}
